@tailwind base;
@tailwind components;
@tailwind utilities;

@import "material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

* {
  background-color: gray;
  font-family: "Handlee", cursive;
}

mat-icon {
  font-family: "Material Icons" !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
