<div class="text-center mt-12">
  <input type="text" placeholder="Search user from Github" [formControl]="search"/> 
  <button
    type="submit"
    class="bg-blue-500 px-2 border-2 border-b-2 border-black"
    (click)="searchUsers()"
  >
    Find
  </button>
</div>

<div class="flex mt-24 border-b-2 border-black">
  <div class="text-left w-full">
    <h3 class="font-medium">Github most popular users</h3>
  </div>
  <div class="flex items-center">
    <button
      class="material-icons w-12 hover:text-blue-400 active:text-blue-500"
      (click)="toggleView(true)"
    >
      view_list
    </button>
    <button
      class="material-icons hover:text-blue-400 active:text-blue-500"
      (click)="toggleView(false)"
    >
      grid_view
    </button>
  </div>
</div>

<section class="mt-4">
  <ng-container *ngIf="isListView; else gridView">
    <div *ngFor="let user of popularUsers" class="flex justify-between">
      <div class="flex">
        <div>
          <a [routerLink]="['/user', user.login]"
            ><img
              [src]="user.avatar_url"
              alt="User Avatar"
              width="200"
              height="200"
              alt="User Avatar"
          /></a>
        </div>
        <div class="text-blue-700 text">
          <div>{{ user.login }}</div>
          <div>{{ user.type }}</div>
        </div>
      </div>
      <!-- <div>
        <a [routerLink]="['/user', user.login]">{{ user.login }}</a>
        <p *ngIf="user.repos?.length > 0">
          Repos: {{ user.repos.slice(0, 3).join(", ") }}
        </p>
        <p *ngIf="user.repos?.length === 0">No Repositories</p>
      </div> -->
      <div class="mr-[10%]">
        <div class="text-2xl">User Repos</div>
        <div class="text-blue-600 underline underline-offset-[6px] text-xl">
          <div><a href="{{ user.repos }}">Normal repo name</a></div>
          <div><a href="{{ user.repo_url }}">A bit longer repo name</a></div>
          <div>
            <a href="{{ user.events_url }}">Very long repo name to display</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #gridView>
    <div class="w-full border-black">
      <div *ngFor="let user of popularUsers">
        <img
          [src]="user.avatar_url"
          alt="User Avatar"
          width="100"
          height="100"
        />
        {{ user.login }}
        <!-- <a [routerLink]="['/user', user.login]">{{ user.login }}</a> -->
        <p *ngIf="user.repos?.length > 0">
          Repos: {{ user.repos.slice(0, 3).join(", ") }}
        </p>
        <p *ngIf="user.repos?.length === 0">No Repositories</p>
      </div>
    </div>
  </ng-template>
</section>
